@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer;
@model List<ComplaintViewModel>
@{
    ViewData["Title"] = "Profile";
}
<div class="container">

    <div class="d-flex justify-content-start">
        @{
            await Html.RenderPartialAsync("_ProfileSidePanel");
        }

        <div class="profile">
            @foreach(var complaint in @Model)
            {
                <p>Article: @complaint.ArticleTitle</p>
                <p>Text: @complaint.Text</p>
                <p> @complaint.ReasonName</p>
                <p> @complaint.StatusName</p>
            }
        </div>
    </div>
</div>