@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer _localizer;
@{
    ViewData["Title"] = "BrainWave";
}

<div class="text-center container">
    <h1 class="display-4">Welcome to BrainWave</h1>
    <p>@_localizer["Greeting"]</p>
</div>
