:root {
    --dark-blue-color: #1D3557;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-blue-color);
}

a, button {
    cursor: pointer;
}

input {
    border: 0;
}

.header-background {
    background-color: var(--dark-blue-color);
}

header input {
    border-radius: 16px;
    width: 11vw;
}

.header-nav {
    width: 50%;
}

    .header-nav li {
        padding: 0.7vw 1vw;
    }

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: white;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: #dfc2c4;
    }

    .navbar-light .navbar-brand:hover {
        color: #dfc2c4;
    }

.logo img {
    width: 3vw;
    height: 3vw;
}

.logo p {
    color: white;
}

.nav-wrapper {
    grid-template-columns: 200px 200px
}

    .nav-wrapper a {
        padding-left: 0;
        color: white;
    }

.footer h3 {
    font-size: 1.5vw;
    color: white;
}

.contacts-footer img {
    width: 2vw;
    height: 2vw;
}

button {
    border: 0;
    background-color: transparent;
}

.contacts-wrapper {
    width: 10vw;
}

.articles-content {
    width: 75%;
}

.interactions img {
    width: 2.5vw;
    height: 2.5vw;
}

.likes, .comments, .savings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-article p {
    padding-left: 1.5vw;
}

.author-article img, .author-comment img {
    border-radius: 50%;
}

.author-article img {
    width: 5vw;
    height: 5vw;
}

.author-comment img {
    width: 3vw;
    height: 3vw;
}

.interactions form {
    width: 60%;
}

.profile-info {
    width: 18vw;
}

.posts, .followers, .followings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 80%;
}

.side-panel {
    width: 20%;
}

.main-padding{
    padding-bottom: 200px;
}
